/* font */
@import url("https://fonts.googleapis.com/css2?&family=Poppins:wght@300&family=Playfair+Display:wght@700&family=Oswald&family=Playball&display=swap");

/*=============== 
Variables
===============*/
:root {
  --mainPurple: #542c85;
  --lightPurple: #783fbe;
  --textPurple: #745c97;
  --mainGold: #A78425;
  --lightGold: #ccb764;
  --lighterGold:#dfd29e;
  --lightGrey: #F8F7F5;
  --beige: #ece7df;
  /* --clr3:#656565; */

  --mainWhite: #fff;
  --mainFont: "Poppins", sans-serif;
  --titleFont: "Oswald", sans-serif;
  --cursiveFont: "Playball", cursive;
  --transition: all 0.2s linear;
  --minHeight: calc(100vh - 213px);
}

/*=============== 
Global Styles
===============*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

hr {
  border: none;
  border-top: 1px solid var(--mainGold);
  text-align:center;
  width: 8rem;
  margin:1rem 0;
}
.short-hr {
  width:3.5rem;
  margin: 0;
}
.shortest-hr {
  width:2.3rem;
  margin: 0.5rem 0;
}
.center-hr {
  margin: 0 auto;
}

body {
  font-family: var(--mainFont);
}

img {
  width: 100%;
}

ul {
  list-style-type: none;
  margin-bottom: 0 !important;
}

/* link */
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: black;
}

.max-width{
  max-width: 1170px;
  margin:0 auto;
}

/*=============== 
Navbar
===============*/
/* menu button */
.menu-btn {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
}

.menu-btn-burger {
  width: 30px;
  height: 2px;
  background: #222;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: var(--transition);
}

.menu-btn-burger::before,
.menu-btn-burger::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background: #222;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: var(--transition);
}

.menu-btn-burger::before {
  transform: translateY(-8px);
}

.menu-btn-burger::after {
  transform: translateY(8px);
}

/* .page-margin {
  margin-top: 72px;
}
.extra-margin{
  margin: 20vh auto;
} */
/* .ipad-padding{
  padding: 0 2rem;
}
@media (max-width: 768px) {
  .ipad-padding{
    padding:0;
  };
} */

/*=============== 
Button
===============*/
.btn{
  padding: 1rem 3rem;
  letter-spacing: 0.1rem;
  outline: none;
  border: 1px solid var(--mainGold);
  cursor: pointer;
  text-transform: uppercase;
  font-family: var(--mainFont);
  background: transparent;
  color: var(--mainGold);
  font-weight:bold;
  font-size: 1rem;
}

.filter-btn{
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  margin-bottom: 3rem;
  transition: var(--transition);
}
/* .filter-btn:visited, .filter-btn:focus{
  background-color: var(--mainGold);
} */
.filter-btn:hover {
  background-color:var(--mainGold);
  color: white;
}

.production-btn{
  padding: 0.5rem 1rem;
  color: white;
  border: none;
  margin: 1rem;
}

.about-btn{
 background:var(--lightGold);
 margin-top: 2rem;
}

/*=============== 
Pages
===============*/
.page {
  margin: 20vh auto;
  min-height: calc(100vh - 72px - 213px);
  max-width: 1170px;
}
.about-page{
   margin: 20vh auto;
  min-height: calc(100vh - 72px - 213px);
}

@media (max-width: 1200px) {
  .page {
    padding: 0 2rem;
    margin: 13vh auto;
  }
}
@media (max-width: 400px) {
  .page {
    padding: 0;
    margin: 20vh auto;
  }
}

/*=============== 
section
===============*/
.section-title{
  text-transform: uppercase;
  font-size: 2.5rem;
}

/*=============== 
icons
===============*/
.featured-icons{
  display:flex;
  justify-content: center;
}

.social-icon{
  color: var(--textPurple);
  margin-right: 1rem;
  font-size: 1rem;
}