/* font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Dancing+Script:wght@700&family=Great+Vibes&family=Montaga&family=Poppins:wght@300&display=swap");

/*=============== 
Variables
===============*/
:root {
  --mainPurple: #5f2870;
  --lightPurple: #863ca8;
  --mainGold: #c4882d;
  --clr2: #5a5a5a;
  /* --clr3:#656565; */
  --mainWhite: #fff;
  --mainFont: 'Poppins', sans-serif; 
  --cursiveFont: "Dancing Script", cursive;
  --transition: all 0.2s linear;
}

/*=============== 
Global Styles
===============*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--mainFont);
}

img {
  width: 100%;
}

ul {
  list-style-type: none;
  margin-bottom: 0 !important;
}

a {
  text-decoration: none;
}

/* btn */
.btn{
  padding: 1rem 3rem;
  letter-spacing: 0.1rem;
}

/*=============== 
Navbar
===============*/
/* menu button */
.menu-btn {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items:center;
  width: 60px;
  height: 60px;
}

.menu-btn-burger {
  width: 30px;
  height: 2px;
  background: #222;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: var(--transition);
}

.menu-btn-burger::before,
.menu-btn-burger::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background: #222;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: var(--transition);
}

.menu-btn-burger::before {
  transform: translateY(-8px);
}

.menu-btn-burger::after {
  transform: translateY(8px);
}

.page-margin{
  margin-top: 72px;
}

@media (max-width: 1200px) {
  .page-margin{
    margin-top:80px;
  }
}
